:root {
  --bgrclr: #1a1a1a;
  --clr1: #fff;
  /* --clr2: ; */
  --font-Archivo: 'Archivo';
  --font-Satoshi: 'Satoshi';
  font-family: 'Archivo', 'Satoshi', sans-serif;
  line-height: 1.5;
  background-color: #1a1a1a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font: ;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}